<div class="searchbar-dropdown-container">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="onInput($event)"
    placeholder="Rechercher un livre..."
    [showCancelButton]="true"
    animated
  ></ion-searchbar>

    <div *ngIf="loading">Chargement...</div>


  <div *ngIf="loading" class="ion-text-center ion-padding">
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="results.length > 0" class="search-results">
    <div *ngFor="let book of results" class="book-item" (click)="selectBook(book)">
      <div class="book-cover">
        <img *ngIf="book.cover" [src]="book.cover" [alt]="book.title" />
        <div *ngIf="!book.cover" class="no-cover">Pas de couverture</div>
      </div>
      <div class="book-info">
        <div class="book-title">{{ book.title }}</div>
        <div class="book-author">{{ book.author }}</div>
        <div *ngIf="book.first_publish_year" class="book-year">{{ book.first_publish_year }}</div>
      </div>
    </div>
  </div>

</div>

<style>
  .search-results {
    margin-top: 1rem;
  }

  .book-item {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid var(--ion-color-light);
    cursor: pointer;
  }

  .book-item:hover {
    background-color: var(--ion-color-light);
  }

  .book-cover {
    width: 60px;
    height: 90px;
    margin-right: 1rem;
    flex-shrink: 0;
  }

  .book-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .no-cover {
    width: 100%;
    height: 100%;
    background-color: var(--ion-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: var(--ion-color-medium);
  }

  .book-info {
    flex: 1;
  }

  .book-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .book-author {
    color: var(--ion-color-medium);
    margin-bottom: 0.25rem;
  }

  .book-year {
    font-size: 0.9rem;
    color: var(--ion-color-medium);
  }
</style> 