<ion-page>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Accueil</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/profile">Mon Compte</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="home-content">
    <app-home-search-bar></app-home-search-bar>

    <ng-container *ngIf="!loading && !error">
      <app-book-section
        title="Dernières sorties"
        [books]="latestBooks">
      </app-book-section>

      <app-book-section
        title="Recommandations"
        [books]="recommendedBooks">
      </app-book-section>

      <app-book-section
        title="Deals"
        [books]="dealsBooks">
      </app-book-section>
    </ng-container>

    <div *ngIf="loading" class="ion-text-center ion-padding">
      <ion-spinner></ion-spinner>
      <p>Chargement...</p>
    </div>
    <div *ngIf="error" class="ion-text-center ion-padding">
      <ion-text color="danger">{{ error }}</ion-text>
    </div>
  </ion-content>
</ion-page> 